@mixin mobile {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 601px) and (max-width: 900px) {
        @content;
    }
}

@mixin rbody ($header, $main, $footer) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
    "#{$header}"
    "#{$main}"
    "#{$footer}"
    ;
    justify-content: center;
    align-items: center;
}

@mixin rheader-rfooter ($type, $padding, $fontsize){
    grid-area: $type;
    padding: $padding;
    font-size: $fontsize;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

@mixin rmain ($type1, $type2, $type3) {
    display: grid; 
    grid-template-areas: 
    "#{$type1}"
    "#{$type2}"
    "#{$type3}"
    ;
    justify-content: center;
    align-items: center;
}